<div class="main">
    <div class="main-heading">
        <h2>Options</h2>
    </div>
    <div class="list">
        <ul>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 4x4</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Electric seat adjustment</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Sports package</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> ABS</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Electronic Stability Program (ESP)</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Sports seats</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Adaptive lights</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Emergency brake assist</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Voice Control</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Adaptive Cruise Control</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Isofix</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Immobilizer</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Airbags</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Keyless entry</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Start-stop system</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Air Conditioning</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Alloy wheels</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Massage chair</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Alarm</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Metallic paint</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Seat ventilation</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Upholstery leather</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Fog lights</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Seat heating</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Bluetooth</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Navigation system</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Steering wheel heating</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> On-board computer</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Open roof</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> traction control</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Central locking</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Panorama roof</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> trailer hitch</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Climate control</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Parking assist</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> USB</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Cruise Control</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Parking camera</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Traffic Sign Recognition</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Blind spot detection</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Parking sensor</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Fatigue Detection</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Electric tailgate</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Radio</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Heated door mirros</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Electric door mirrors</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Sliding door</li>
            <li><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Xenon lighting</li>
        </ul>
    </div>
</div>