h2
{
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
}
form
{
    width: 550px;
    margin-left: 15px;
}
.form-label
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
#mileage
{
    width: 550px;
    height: 40px;
    border-radius: 3px;
    border-color: rgb(207, 207, 207);
}