<div class="options">
    <h2>Features</h2>
    <form>
        <fieldset>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Transmission</label>
                <select id="disabledSelect" class="form-select">
                    <!-- <option>Disabled select</option> -->
                </select>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Fuel Type</label>
                <select id="disabledSelect" class="form-select">
                    <!-- <option>Disabled select</option> -->
                </select>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Built Year</label>
                <select id="disabledSelect" class="form-select">
                    <!-- <option>Disabled select</option> -->
                </select>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Color</label>
                <select id="disabledSelect" class="form-select">
                    <!-- <option>Disabled select</option> -->
                </select>
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label mileage">Mileage</label>
                <textarea name="mileage" id="mileage" cols="30" rows="10"></textarea>
                <!--<select id="disabledSelect" class="form-select">
                    <option>Disabled select</option>
                </select> -->
            </div>
        </fieldset>
    </form>

</div>