<div class="container">
    <div class="category">
      <h2>Selected Category</h2>
      <div class="sub-category">
        <p class='car'>Auto &nbsp; <span>&#62;</span> &nbsp; Car &nbsp; <span>&#62;</span> &nbsp; BMW </p>
        <ul class="d-flex free-category">
          <fa-icon class="circle" [icon]="faInfoCircle"></fa-icon>
          <fa-icon class="info" [icon]="faInfo"></fa-icon>
          <p class="free">This is a free category</p>
      </ul>
    </div>
    <div class="line"></div>
    <br>
    </div>
    <div class="photos">
      <app-photos></app-photos>
    </div>
    <br>
    <div class="line"></div>
    <br>
    <div class="details">
      <app-details></app-details>
    </div>
    <div class="features">
      <app-features></app-features>
    </div>
    <div class="maintenance">
      <app-maintenance></app-maintenance>
    </div>
    <div class="price">
      <app-price></app-price>
    </div>
    <div class="contact">
      <app-contact></app-contact>
    </div>
    <div class="options">
      <app-options></app-options>
    </div>
    <div class="endButtons">
      <app-end-buttons></app-end-buttons>
    </div>
  </div>