<div class="details">
    <div class="title">
        <div class="main-heading">
            <h2>Details</h2>
        </div>
        <div class="sub-heading tit">
            <p>Title</p>
        </div>
        <div class="input-group mb-3 test">
            <input type="text" class="form-control price" id="test" placeholder="A Test Ad"/>
        </div>
    </div>
    <div class="description">
        <div class="sub-heading">
            <p>Description</p>
        </div>
        <div class="rec"></div>
        <div class="icons">
            <ul>
                <li><fa-icon class="circle" [icon]="faBold"></fa-icon></li>
                <li><div class="line"></div></li>
                <li><fa-icon class="plus" [icon]="faItalic"></fa-icon></li>
                <li><div class="line"></div></li>
                <li><fa-icon class="plus" [icon]="faUnderline"></fa-icon></li>
                <li><div class="line"></div></li>
                <li><fa-icon class="plus" [icon]="faListOl"></fa-icon></li>
                <li><div class="line"></div></li>
                <li><fa-icon class="plus" [icon]="faListUl"></fa-icon></li>
                <li><div class="line"></div></li>
            </ul>
        </div>
        <textarea class="desc" name="desc" id="desc" cols="76" rows="8"></textarea>
    </div>
</div>