<div class="options">
    <h2>Price</h2>
    <form>
        <fieldset >
            <div class="mb-3">
                <label for="disabledSelect" typeof='disabled' class="form-label">Price Type</label>
                <select id="disabledSelect" class="form-select">
                    <option>Asking Price(Negotiable)</option>
                </select>
            </div>
            <div class="input-group mb-3 price">
                <input type="text" class="form-control price" id="price" placeholder="0.00"/>
                <button class="btn" type="button" id='pkr'>PKR</button>
            </div>
        </fieldset>
    </form>

</div>