h2
{
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
}
form
{
    margin-left: 25px;
}
.form-label
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.form-select
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.price input,button
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px; 
}
.form-select
{
    width: 550px;
}
.price
{
    width: 550px;
    height: 40px;
    border-radius: 3px;
    border-color: rgb(207, 207, 207);
}
#pkr
{
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-top: -40px;
    margin-left: 500px;
    color: rgb(105, 105, 105);
}